@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kalam:wght@300;400;700&family=Shadows+Into+Light&family=Quicksand:wght@400;600&display=swap');

:root {
  /* Fonts */
  --greeting-font: 'Kalam', cursive;
  /* --heading-font: 'The Girl Next Door', cursive; */
  /* --heading-font: 'Kalam', cursive; */
  --heading-font: 'Shadows Into Light', cursive;
  /* --body-font: 'Kalam', cursive; */
  --body-font: 'Quicksand', sans-serif;
  --code-font: 'Courier Prime', 'Courier New', monospace;

  /* Colors */
  --main-text-color: black;
  --blank-bg-color: #fafafa;
  --base-bg-color: #c4edde;
  --accent-bg-color: #7ac7c4;
  --accent-color: #384259;
  --text-accent-color: #f73859;
  --shadow-color: var(--accent-color);

  /* Material */
  /* --main-shadow-blur: 0.2rem; */
  --main-shadow-blur: 0.2em;
  --ui-bottom-shadow: 0 0.3rem var(--main-shadow-blur) var(--shadow-color);
  --ui-left-shadow: -0.3rem 0 var(--main-shadow-blur) var(--shadow-color);
  --ui-right-shadow: 0.3rem 0 var(--main-shadow-blur) var(--shadow-color);
  /* --ui-left-shadow: none; */
  /* --ui-right-shadow: none; */

  /* Spacing */
  --main-margin: 3rem;
  --section-gap: 2rem;
  --material-padding: 1rem;
  --compact-padding: 0.5rem;
  --inline-padding: 0.2rem;

  --width-centering-wrapper: 800px;

  /* Corners */
  --material-radius: 0.25rem;

  /* Other */
  scroll-behavior: smooth;
}

html {
  background-color: var(--base-bg-color);
}

body {
  font-family: var(--body-font);
  color: var(--main-text-color);

  /* For centering wrapper *appearance* */
  height: 100vh;
  width: 100%;
  max-width: var(--width-centering-wrapper);
  margin: 0 auto;
  background-color: var(--blank-bg-color);
  box-shadow: var(--ui-left-shadow), var(--ui-right-shadow);
}

h1,
h2,
h3,
h4 {
  color: var(--text-accent-color);
}

h2,
h3,
h4 {
  font-family: var(--heading-font);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.App {
  /* height: 100%; */
  /* width: 100vw; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  min-height: calc(100% - 55px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-margin-top: 55px;
}

.container {
  padding: var(--main-margin);
}
.container:not(.wide) {
  max-width: var(--width-centering-wrapper);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-margin);
}

#oscar {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-bg-color);
  box-shadow: none;
}

#oscar .container {
  /* Extra margin to protect the position: absolute h1 */
  margin: var(--section-gap) 0;
  position: relative;
}

#oscar h1 {
  width: 100%;
  padding: 0 var(--main-margin);
  font-family: var(--greeting-font);
  font-size: 3em;

  /* To center the paragraph, ignoring h1 height */
  position: absolute;
  top: calc(-1 * var(--section-gap));
}

#oscar p {
  font-size: 1.5em;
  font-family: var(--greeting-font);
}

.navigation {
  height: 55px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1;

  display: flex;
  align-items: center;

  background-color: var(--accent-bg-color);
  border: solid 0.1rem var(--accent-color);
  border-right: 0;
  border-left: 0;
  box-shadow: var(--ui-bottom-shadow);

  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--accent-color);
}

.navigation ul {
  width: 100%;
  display: flex;
}

.navigation li {
  padding: 0 var(--compact-padding);
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
}

.card {
  padding: var(--material-padding);
  border: solid 1px var(--accent-color);
  border-radius: var(--material-radius);
  box-shadow: 0.35em 0.35em 0.35em var(--shadow-color);
}

#projects {
  width: 100%;
  margin: 0;

  /* Override section defaults */
  max-width: none;

  /* scroll-snap-align: center;
  scroll-margin-top: unset; */
  background-color: transparent;
}

#projects .container {
  height: min-content;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;

  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--blank-bg-color);
}

.project {
  flex: 1 0 350px;

  margin: var(--main-margin);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    'name links'
    'image image'
    'blurb blurb';
}
.project:not(:last-child) {
  margin-right: 0;
}

.project > h3,
.project > .links {
  align-self: baseline;
}

.project > h3 {
  grid-area: name;
  margin: 0;
}

.project > .links {
  grid-area: links;
  justify-self: end;
  display: flex;
  gap: var(--compact-padding);
}

.project > img {
  grid-area: image;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.project > .blurb {
  grid-area: blurb;
  margin: 0;
}

#resume svg {
  margin: var(--compact-padding);
}

.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--compact-padding);
  text-align: center;
}

.about a {
  color: var(--text-accent-color);
}

.react-icons {
  align-self: center;
}

a.w-icon {
  flex: 0 0 auto;
  display: inline-flex;
  gap: var(--inline-padding);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border-radius: var(--material-radius);
  background-color: white;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
  /* box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset; */
  box-shadow: #d6d6e7 0 -3px 0 inset;
}

button.filtered,
button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
.button-30 {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fcfcfd;
  box-sizing: border-box;
  color: #36395a;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@media only screen and (max-width: 960px) {
}
