:root {
  /* Colors */
  --base-bg-color: #cfd8dc;
  --accent-bg-color: #607d8b;
}

body {
  background-color: var(--base-bg-color);
}

section {
  min-height: 100vh;
}

.navigation {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  bottom: 0;
}

.navigation ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold;
}

.navigation li {
  padding: 0.5rem;
  height: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
}

.navigation li.current {
  background-color: var(--accent-bg-color);
  color: white;
}
